<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-05-23T06:07:23Z</date>
	<key>WorkspacePath</key>
	<string>/Users/john2/Desktop/function8/function8.xcodeproj</string>
</dict>
</plist>
